<script setup>
// Vue
import { computed } from "vue";
// Utils
import { romanize } from "./../../modules/utils.js";

// Computed Properties
let dateYear = computed(() => {
  const date = new Date();
  return romanize(date.getFullYear());
});
</script>

<template>
  <small>{{ dateYear }} &copy; Demetory</small>
</template>

<style lang="scss" scoped>
small {
  z-index: 22000;
  position: fixed;
  display: block;
  bottom: 50px;
  right: calc(0px - 157px);
  transform-origin: bottom left;
  transform: rotate(-90deg);
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 0.02em;
  color: colors.$black;

  &::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    height: 1px;
    width: 25px;
    background: colors.$black;
    opacity: 0.9;
  }
}
</style>
