<script setup>
// Vue
import { computed } from "vue";
// Utils
import { getImageUrl } from "./../../modules/utils.js";

// Props
const props = defineProps({
  url: {
    type: String,
    required: true,
    default: "/",
  },
  image: {
    type: String,
    required: true,
  },
  size: {
    type: String,
    required: true,
    default: "60px",
  },
});

// Constants
const expression = "https?:|^.*\.(rar|zip|doc|pdf)$";
const regex = new RegExp(expression);

// Computed Properties
const isExternal = computed(() => {
  return props.url.match(regex) ? true : false;
});
</script>

<template>
  <div class="flip-container">
    <a v-if="isExternal" :href="url" target="_blank" class="flipper">
      <span class="front"><img :src="getImageUrl(`${image}-front.svg`)" /></span>
      <span class="back"><img :src="getImageUrl(`${image}-back.svg`)" /></span>
    </a>
    <router-link v-else :to="url" class="flipper">
      <span class="front"><img :src="getImageUrl(`${image}-front.svg`)" /></span>
      <span class="back"><img :src="getImageUrl(`${image}-back.svg`)" /></span>
    </router-link>
  </div>
</template>

<style lang="scss" scoped>
.flip-container {
  display: flex;
  perspective: 1000px;

  &:hover {
    .flipper {
      transform: rotateY(180deg);
    }
  }

  .flipper {
    display: flex;
    width: v-bind(size);
    height: v-bind(size);
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;

    .back,
    .front {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
    }

    .front {
      z-index: 2;
      transform: rotateY(0deg);
    }

    .back {
      z-index: 1;
      transform: rotateY(180deg);
    }
  }
}
</style>
