body,
html {
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 100%;
  min-height: 100%;
}

noscript {
  display: flex;
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100vh;
  padding: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #121212;
}

noscript img {
  max-width: 280px;
}

noscript div {
  font-family: "Inter", sans-serif;
}

noscript div h1 {
  font-size: 3rem;
  font-weight: 900;
}

noscript div p {
  font-size: 1.5rem;
  font-weight: 600;
}
