<script setup>
// Data
const speed = 100;
let mouseXOld = 0;
let mouseYOld = 0;
let deltaX = 0;
let deltaY = 0;

// Methods
function calculateDelta(event) {
  let lines = document.querySelectorAll("[attr='parallaxed']");

  let rect = document.body.getBoundingClientRect();
  let centerX = rect.width / 2;
  let centerY = rect.height / 2;

  mouseXOld = event.pageX;
  mouseYOld = event.pageY;
  deltaX = (centerX - event.pageX) / speed;
  deltaY = (centerY - event.pageY) / speed;

  for (let index = 0; index < lines.length; index++) {
    lines[index].style = `transform: translate(${deltaX}px, ${deltaY * (index + 1)}px)`;
  }
}
</script>

<template>
  <article class="heading" v-on:mousemove="calculateDelta">
    <h2 class="headline fixa">404</h2>
    <h2 attr="parallaxed" class="headline">The Truth</h2>
    <h2 attr="parallaxed" class="headline">is out there</h2>
  </article>
</template>

<style lang="scss" scoped>
.heading {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  padding: 0 0 grid.$border grid.$border;
  background-color: colors.$black;
  justify-content: flex-end !important;

  .headline {
    display: flex;
    font-weight: 900;
    color: colors.$grey;
    text-transform: uppercase;
    background: -webkit-gradient(linear, left top, left bottom, from(colors.$black), to(colors.$grey));
    background: linear-gradient(colors.$black, colors.$grey);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    user-select: none;
    letter-spacing: -5px;
    transition: all 0.05s ease-in-out;
    font-size: 15rem;
    line-height: 12.5rem;
  }

  .fixa {
    font-size: 30rem;
    line-height: 27.5rem;
  }
}

@media screen and (max-width: 1280px) {
  .heading {
    .headline {
      font-size: 10rem;
      line-height: 10rem;
    }
    .fixa {
      font-size: 20rem;
      line-height: 20rem;
    }
  }
}
</style>
