<script setup>
// Data
import { links } from "./../../modules/data.js";
// Components
import Flipper from "./../../components/atom/Flipper.vue";

// Props
const props = defineProps({
  title: {
    type: String,
    required: true,
    default: "Forgotten Title",
  },
});
</script>

<template>
  <header>
    <Flipper image="logo" size="60px" :url="links.dd"></Flipper>
    <h1>4 &nbsp; {{ title }}</h1>
    <a :href="links.telegram" target="_blank">Telegram me</a>
    <Flipper image="cv" size="60px" :url="links.cv" class="btn"></Flipper>
    <Flipper image="hh" size="60px" :url="links.hh" class="btn"></Flipper>
  </header>
</template>

<style lang="scss" scoped>
header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: grid.$border;
  border-bottom: solid grid.$border colors.$grey;
  background-color: colors.$black;

  h1 {
    display: flex;
    margin-left: grid.$border;
    margin-right: auto;
    font-weight: 900;
    color: colors.$grey;
    text-transform: uppercase;
    background: -webkit-gradient(linear, left top, left bottom, from(colors.$black), to(colors.$grey));
    background: linear-gradient(colors.$black, colors.$grey);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    user-select: none;
    letter-spacing: -3px;
    transition: all 0.05s ease-in-out;
    font-size: 5rem;
  }

  a {
    position: relative;
    font-size: 1.8rem;
    color: colors.$green;
    text-decoration: none;

    &::before {
      position: absolute;
      content: "";
      bottom: -4px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: colors.$white;
      transition: width 0.5s ease-in-out;
    }

    &:hover {
      &::before {
        width: 0;
      }
    }
  }

  .btn {
    margin-left: grid.$border;
  }
}
</style>
