<script setup>
// Vue
import { ref, computed, watch } from "vue";
// Vuex
import { useStore } from "vuex";

// Store
const store = useStore();
// <Array> List of existing Formulas from the Store
const formulas = computed(() => {
  return store.state.formulas;
});
// <Array> List of possible Actions from the Store
const actions = computed(() => {
  return store.state.actions;
});
// <Array> List of possible Variables from the Store
const variables = computed(() => {
  return store.state.variables;
});
// <Array> List of possible Operands from the Store
const operands = computed(() => {
  return store.state.operands;
});

// Props
const props = defineProps({
  // Width of the Component: <Number> for fixed, <String:'auto'> for responsive
  width: {
    type: [Number, String],
    required: false,
    default: "auto",
  },
  // Height of the Component: <Number> for fixed, <String:'auto'> for responsive
  height: {
    type: [Number, String],
    required: false,
    default: "auto",
  },
});

// Data
// <Object> Used Texts and Labels
const objLabels = {
  title_table: "Настройка формул",
  title_overlay: "Конструктор формулы",
  title_err: "Исправьте ошибку:",
  btn_add: "+ Добавить формулу",
  btn_cancel: "Отмена",
  btn_save: "Сохранить",
  formulas: "Формулы",
  actions: "Действия",
  err_noactions: "Нет доступных действий",
  err_noformulas: "Список формул пуст",
};
// <Number> Max length of the Numeric Inputs
const intMaxLength = 7;
// <Array> Constructing a Formula
let arrFormula = ref([]);
// <Boolean> Is Overlay opened
let isOverlayOpened = ref(false);
// <Boolean> Is Formula valid
let isFormulaValid = ref(false);
// <Array> List of possible Errors;
const arrErrors = {
  empty: { label: "Задайте формулу" },
  parentheses: { label: "Незакрытые скобки" },
  duplicate: { label: "Повторяющиеся элементы" },
  double: { label: "Две переменные подряд" },
  nan: { label: "Не задано число" },
  operand_before: { label: "Отсутствует операнд перед скобкой" },
  operand_after: { label: "Отсутствует операнд после скобки" },
  operand_unclosed: { label: "Незакрытый операнд в конце" },
  short: { label: "Подозрительно короткая формула:)" },
  exists: { label: "Такая формула уже есть" },
};
// <String> Error Label
const strError = ref("");
// Index of Existing Formula
let intFormulaIndex = ref(null);

// Watcher
watch(
  arrFormula,
  (newValue) => {
    doValidateFormula(newValue);
  },
  { deep: true }
);

// Methods
/*
  Sense: Validates Input Fields
  Params: <events>
  Relations: none
  Returns: <Boolean>
*/
const doValidateInput = (ev) => {
  const index = ev.target.getAttribute("data-position");

  const ASCIICode = ev.which ? ev.which : ev.keyCode;
  if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57)) {
    ev.preventDefault();
  }

  if (ev.type === "focus" && !isNumber(ev.target.value)) {
    ev.target.value = "";
    ev.target.classList.remove("error");
  } else if (ev.type === "blur" && !ev.target.value) {
    ev.target.value = "Число";
    ev.target.classList.add("error");
    arrFormula.value.splice(index, 1, ev.target.value);
  } else if (ev.type === "blur" && ev.target.value) {
    arrFormula.value.splice(index, 1, ev.target.value);
  }
};

/*
  Sense: Catch unclosed Parentheses
  Params: <String>
  Relations: none
  Returns: <Boolean>
*/
const isParentheses = (str) => {
  var s;
  str = str.replace(/[^()]/g, "");
  while (s != str) {
    s = str;
    str = str.replace(/\(\)/g, "");
  }
  return !str;
};

/*
  Sense: Catch unclosed Operand
  Params: <String>
  Relations: none
  Returns: <Boolean>
*/
const isOperandUnclosed = (str) => {
  return new RegExp(/[+\-*\/]$/gi).test(str);
};

/*
  Sense: Catch operand before Parentheses
  Params: <String>
  Relations: none
  Returns: <Boolean>
*/
const isOperandBefore = (str) => {
  return new RegExp(/([A-Za-z\d])(\()/g).test(str);
};

/*
  Sense: Catch operand after Parentheses
  Params: <String>
  Relations: none
  Returns: <Boolean>
*/
const isOperandAfter = (str) => {
  return new RegExp(/(\))([A-Za-z\d])/g).test(str);
};

/*
  Sense: Catch double Letters
  Params: <String>
  Relations: none
  Returns: <Boolean>
*/
const isDoubleLetters = (str) => {
  return new RegExp(/[a-zA-Z]{2}/gi).test(str);
};

/*
  Sense: Catch specific Word
  Params: <String>
  Relations: none
  Returns: <Boolean>
*/
const isSpecificWord = (word, string) => {
  return new RegExp(word).test(string);
};

/*
  Sense: Validates Formula
  Params: <any>
  Relations: isFormulaValid
  Returns: nothing
*/
const doValidateFormula = () => {
  const strFormula = arrFormula.value.join("");

  if (!strFormula.length) {
    isFormulaValid.value = false;
    strError.value = arrErrors.empty.label;
  } else if (strFormula.length && strFormula.length < 2) {
    isFormulaValid.value = false;
    strError.value = arrErrors.short.label;
  } else if (isSpecificWord("Число", strFormula)) {
    isFormulaValid.value = false;
    strError.value = arrErrors.nan.label;
  } else if (isOperandBefore(strFormula)) {
    isFormulaValid.value = false;
    strError.value = arrErrors.operand_before.label;
  } else if (isOperandAfter(strFormula)) {
    isFormulaValid.value = false;
    strError.value = arrErrors.operand_after.label;
  } else if (!isParentheses(strFormula)) {
    isFormulaValid.value = false;
    strError.value = arrErrors.parentheses.label;
  } else if (isDoubleLetters(strFormula)) {
    isFormulaValid.value = false;
    strError.value = arrErrors.double.label;
  } else if (isOperandUnclosed(strFormula)) {
    isFormulaValid.value = false;
    strError.value = arrErrors.operand_unclosed.label;
  } else {
    isFormulaValid.value = true;
    strError.value = "";
  }
};

/*
  Sense: Do something with a Formula in case of selected Action.
  Params: Object { name: <String>, formula: <Number> }
  Relations: none
  Returns: nothing
*/
const doAction = (action = null) => {
  let formula = formulas.value[action.formula];

  if (action.name === "edit") {
    switchOverlay();
    intFormulaIndex.value = action.formula;
    arrFormula.value = [...formula];
  } else if (action.name === "delete") {
    store.commit("FORMULA_DELETE", action.formula);
  } else if (action.name === "save" && isFormulaValid.value) {
    let newFormula = arrFormula.value.join("").toLowerCase();
    if (intFormulaIndex.value !== null) {
      store.dispatch("updateFormula", { index: intFormulaIndex.value, formula: newFormula }).then((resolve) => {
        switchOverlay();
      });
    } else {
      store.dispatch("addFormula", newFormula).then(
        (resolve) => {
          switchOverlay();
        },
        (reject) => {
          strError.value = arrErrors.exists.label;
          isFormulaValid.value = false;
        }
      );
    }
  }
};

/*
  Sense: Removes a Char and all after that in the selected Formula.
  Params: <Number>
  Relations: arrFormula
  Returns: nothing
*/
const doSplice = (index = null) => {
  arrFormula.value.splice(index);
};

/*
  Sense: Checks if the Char is a Number
  Params: <any>
  Relations: none
  Returns: <Boolean>
*/
const isNumber = (char = null) => {
  return !isNaN(parseFloat(char)) && isFinite(char);
};

/*
  Sense: Checks if the Field is Editable
  Params: <any>
  Relations: none
  Returns: <Boolean>
*/
const isEditable = (char = null) => {
  return char === "Число" ? true : false;
};

/*
  Sense: Shows Overlay in case of isOverlayOpened and clears the Formula Array.
  Params: none
  Relations: isOverlayOpened; arrFormula
  Returns: nothing
*/
const switchOverlay = () => {
  isOverlayOpened.value = !isOverlayOpened.value;
  arrFormula.value = [];
  intFormulaIndex.value = null;
};

/*
  Sense: Prevents default Element Behavior on Drop
  Params: event
  Relations: none
  Returns: nothing
*/
const switchDrop = (ev) => {
  ev.preventDefault();
};

/*
  Sense: Drags selected Element
  Params: event
  Relations: none
  Returns: nothing
*/
const doDrag = (ev) => {
  ev.dataTransfer.effectAllowed = "copy";
  ev.dataTransfer.setData("text", ev.target.name);
};

/*
  Sense: Drops selected Element and adds his Content to the End of Formula Array
  Params: event
  Relations: arrFormula
  Returns: nothing
*/
const doDrop = (ev) => {
  ev.preventDefault();
  let data = ev.dataTransfer.getData("text");
  let content = document.getElementsByName(data)[0].innerText;
  arrFormula.value.push(content);
};
</script>

<template>
  <section class="fe-editor" @keydown.esc="switchOverlay" tabindex="0">
    <!-- Table with Formulas -->
    <section class="fe-container fe-table">
      <!-- Upper Title -->
      <div class="fe-row fe-title">
        <h1 class="fe-h">{{ objLabels.title_table }}</h1>
        <a @click="switchOverlay" class="fe-btn">{{ objLabels.btn_add }}</a>
      </div>
      <!-- Fixed Header -->
      <div class="fe-legend fe-table__legend">
        <p class="fe-row">
          <span class="fe-col">{{ objLabels.formulas }}</span>
          <span class="fe-col">{{ objLabels.actions }}</span>
        </p>
        <p class="fe-row">
          <span class="fe-col">{{ formulas.length }}</span>
          <span class="fe-col">{{ actions.length }}</span>
        </p>
      </div>
      <!-- Body with list of Formulas -->
      <div :class="['fe-body', 'fe-table__body', { 'fe-body_empty': !formulas.length }]">
        <p v-if="formulas.length" v-for="(formula, index) in formulas" class="fe-row">
          <span class="fe-col">{{ formula }}</span>
          <span class="fe-col">
            <i v-if="actions.length" v-for="action in actions" :class="['fe-btn', 'fe-icon-m', `fe-btn_${action}`]" @click="doAction({ name: action, formula: index })">
              <svg><use :xlink:href="`#ico-${action}`" /></svg>
            </i>
            <i v-else>{{ objLabels.err_noactions }}</i>
          </span>
        </p>
        <p v-else>{{ objLabels.err_noformulas }}</p>
      </div>
    </section>
    <!-- .fe-table -->

    <!-- Overlay for editing || construction a Formula -->
    <transition name="fade" mode="out-in">
      <section ref="overlay" v-if="isOverlayOpened" class="fe-container fe-overlay">
        <!-- Upper Title -->
        <div :class="['fe-title', 'fe-row', { 'fe-error': !isFormulaValid }]">
          <h2 class="fe-h">{{ objLabels.title_overlay }}</h2>
          <i class="fe-btn" @click="switchOverlay">
            <svg><use xlink:href="#ico-close" /></svg>
          </i>
        </div>
        <!-- Body -->
        <div class="fe-body">
          <aside class="fe-aside">
            <a v-if="variables.length" v-for="(variable, index) in variables" :name="`variable-${index}`" class="fe-btn" @dragstart="doDrag" draggable="true">{{ variable }}</a>
          </aside>
          <div id="fe-constructor" :class="['fe-constructor', { 'fe-error': !isFormulaValid }]" @drop="doDrop" @dragover="switchDrop">
            <span v-if="arrFormula.length" v-for="(char, index) in arrFormula" :class="['fe-char', { 'fe-char-numeric': isEditable(char) || isNumber(char) }]">
              <span v-if="isNumber(char) || isEditable(char)">
                <input
                  type="text"
                  :value="char"
                  :maxlength="intMaxLength"
                  :data-position="index"
                  :class="[{ error: !isNumber(char) }]"
                  @keypress="doValidateInput"
                  @focus="doValidateInput"
                  @blur="doValidateInput"
                  @paste="$event.preventDefault()"
                />
              </span>
              <span v-else>{{ char }}</span>
              <i @click="doSplice(index)"></i>
            </span>
          </div>
          <aside class="fe-aside">
            <a v-if="operands.length" v-for="(operand, index) in operands" :name="`operand-${index}`" class="fe-btn" @dragstart="doDrag" draggable="true">{{ operand }}</a>
          </aside>
        </div>
        <!-- Menu Buttons -->
        <menu class="fe-menu">
          <span class="fe-status" v-if="!isFormulaValid">{{ `${objLabels.title_err} ${strError}` }}</span>
          <a class="fe-btn" @click="switchOverlay">{{ objLabels.btn_cancel }}</a>
          <a :class="['fe-btn', { 'fe-btn_disabled': !isFormulaValid }]" @click="doAction({ name: 'save' })">{{ objLabels.btn_save }}</a>
        </menu>
      </section>
    </transition>
    <!-- .fe-window -->

    <!-- SVG Symbols -->
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
      <symbol id="ico-delete" viewBox="0 0 30 30">
        <title>Удалить</title>
        <desc>Icon Delete</desc>
        <path
          d="M 14.984375 2.4863281 A 1.0001 1.0001 0 0 0 14 3.5 L 14 4 L 8.5 4 A 1.0001 1.0001 0 0 0 7.4863281 5 L 6 5 A 1.0001 1.0001 0 1 0 6 7 L 24 7 A 1.0001 1.0001 0 1 0 24 5 L 22.513672 5 A 1.0001 1.0001 0 0 0 21.5 4 L 16 4 L 16 3.5 A 1.0001 1.0001 0 0 0 14.984375 2.4863281 z M 6 9 L 7.7929688 24.234375 C 7.9109687 25.241375 8.7633438 26 9.7773438 26 L 20.222656 26 C 21.236656 26 22.088031 25.241375 22.207031 24.234375 L 24 9 L 6 9 z"
        />
      </symbol>

      <symbol id="ico-edit" viewBox="0 0 30 30">
        <title>Редактировать</title>
        <desc>Icon Sigma</desc>
        <path
          d="M24.42,6.92v-2H7.84l9,9.05a1.45,1.45,0,0,1,0,2L7.63,25.11H24.41v-2H27.3v3.41A1.44,1.44,0,0,1,25.86,28H4.13a1.45,1.45,0,0,1-1-2.47L13.78,15,3.43,4.54A1.45,1.45,0,0,1,4.37,2H25.86a1.45,1.45,0,0,1,1.45,1.45V6.92Z"
        />
      </symbol>

      <symbol id="ico-close" viewBox="0 0 30 30">
        <title>Закрыть</title>
        <desc>Icon Close</desc>
        <path
          d="M 7 4 C 6.744125 4 6.4879687 4.0974687 6.2929688 4.2929688 L 4.2929688 6.2929688 C 3.9019687 6.6839688 3.9019687 7.3170313 4.2929688 7.7070312 L 11.585938 15 L 4.2929688 22.292969 C 3.9019687 22.683969 3.9019687 23.317031 4.2929688 23.707031 L 6.2929688 25.707031 C 6.6839688 26.098031 7.3170313 26.098031 7.7070312 25.707031 L 15 18.414062 L 22.292969 25.707031 C 22.682969 26.098031 23.317031 26.098031 23.707031 25.707031 L 25.707031 23.707031 C 26.098031 23.316031 26.098031 22.682969 25.707031 22.292969 L 18.414062 15 L 25.707031 7.7070312 C 26.098031 7.3170312 26.098031 6.6829688 25.707031 6.2929688 L 23.707031 4.2929688 C 23.316031 3.9019687 22.682969 3.9019687 22.292969 4.2929688 L 15 11.585938 L 7.7070312 4.2929688 C 7.5115312 4.0974687 7.255875 4 7 4 z"
        />
      </symbol>
    </svg>
    <!-- SVG Symbols -->
  </section>
</template>

<style lang="scss" scoped>
// Variables
@use "sass:map";
$colors: (
  "white": #fff,
  "black": #121212,
  "beige": #e4d8c9,
  "grey": #dbdbdb,
  "green": #06c47f,
  "blue": #006ef0,
  "red": #ed6e69,
);
$typo: (
  "bold": 600,
  "header": 2.2rem,
  "subheader": 1.8rem,
);
$sizes: (
  "gap": 20px,
  "icon-m": 32px,
  "icon-s": 18px,
  "radius": 7px,
);

// Common Styles
.fe-editor {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  max-height: calc(100vh - (120px + 60px));
  outline: 0;
}
.fe-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: calc(map.get($sizes, "gap") / 2) map.get($sizes, "gap");
}
.fe-legend {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
}
.fe-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: calc(map.get($sizes, "gap") / 2);
  align-items: center;
}
.fe-title {
  padding: map.get($sizes, "gap");
  .fe-btn {
    margin-left: auto;
  }
}
.fe-col {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fe-h {
  font-size: map.get($typo, "header");
  font-weight: map.get($typo, "bold");
}
.fe-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: map.get($sizes, "radius");
  user-select: none;
  will-change: border-color, color;
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;

  svg {
    max-width: calc(map.get($sizes, "icon-m") - 4px);
    max-height: calc(map.get($sizes, "icon-m") - 4px);
    will-change: fill;
    transition: fill 0.3s ease-in-out;
  }

  &:not(.fe-btn_disabled) {
    cursor: pointer;
  }
  &.fe-btn_disabled {
    background-color: map.get($colors, "grey");
    cursor: default;
  }
  &.fe-btn_delete {
    border-color: map.get($colors, "red");
    svg {
      fill: map.get($colors, "red");
    }
  }
  &.fe-btn_edit {
    border-color: map.get($colors, "blue");
    svg {
      fill: map.get($colors, "blue");
    }
  }
  &:hover {
    svg {
      fill: map.get($colors, "black");
    }
  }
}
.fe-icon-m {
  width: map.get($sizes, "icon-m");
  height: map.get($sizes, "icon-m");
  border-width: 1px;
  border-style: solid;
  background-color: map.get($colors, "white");

  &:hover {
    border-color: map.get($colors, "black");
  }
}

// Table Styles
.fe-table {
  max-height: 100%;
  .fe-col {
    &:first-child:not(:only-of-type) {
      flex: 0 1 75%;
    }

    &:last-child:not(:only-of-type) {
      flex: 1;
      margin-left: auto;
    }
  }
  .fe-title {
    .fe-btn {
      color: map.get($colors, "blue");
      &:hover {
        color: map.get($colors, "black");
      }
    }
  }
  .fe-table__legend {
    .fe-row {
      background-color: map.get($colors, "beige");
      &:first-child {
        margin-bottom: 1px;
        font-size: map.get($typo, "subheader");
        font-weight: map.get($typo, "bold");
      }
    }
  }
  .fe-table__body {
    padding-top: 1px;
    flex: 1 1 auto;
    overflow-y: auto;
    min-height: 0;
    &.fe-body_empty {
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        justify-content: center;
        font-size: map.get($typo, "header");
      }
    }
    .fe-row {
      will-change: background-color;
      transition: background-color 0.3s ease-in-out;

      .fe-col:first-of-type {
        font-size: map.get($typo, "subheader");
        text-transform: uppercase;
      }
      .fe-col:last-of-type {
        .fe-btn:not(:last-of-type) {
          margin-right: calc(map.get($sizes, "gap") / 2);
        }
      }

      &:hover {
        background-color: map.get($colors, "beige");
      }
      &:not(:last-of-type) {
        border-bottom: solid 1px map.get($colors, "grey");
      }
    }
  }
} // Table Styles

// Overlay Styles
.fe-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: map.get($sizes, "gap");
  width: 100vw;
  height: 100vh;
  background-color: map.get($colors, "white");

  .fe-title {
    will-change: background-color;
    transition: background-color 0.5s ease-in-out;
    color: map.get($colors, "white");
    &.fe-error {
      background-color: map.get($colors, "red");
    }
    &:not(.fe-error) {
      background-color: map.get($colors, "green");
    }
    .fe-btn {
      fill: map.get($colors, "white");
      &:hover {
        fill: map.get($colors, "black");
      }
    }
  }

  .fe-body {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: map.get($sizes, "gap");

    .fe-btn {
      padding: calc(map.get($sizes, "gap") / 2) 0;
      color: map.get($colors, "blue");
      border: solid 1px map.get($colors, "blue");
      will-change: color, background-color;
      transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
      font-size: map.get($typo, "subheader");

      &:hover {
        color: map.get($colors, "white");
        background-color: map.get($colors, "blue");
      }

      &:not(:last-of-type) {
        margin-bottom: calc(map.get($sizes, "gap") / 2);
      }
    }
  }

  .fe-aside {
    display: flex;
    flex-direction: column;
    flex: 0 1 10%;
    min-width: 160px;
  }

  .fe-constructor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    margin: 0 map.get($sizes, "gap");
    padding: map.get($sizes, "gap");
    background-color: map.get($colors, "grey");
    align-items: flex-start;
    align-content: flex-start;

    &.fe-error {
      border: solid 1px map.get($colors, "red");
    }
    &:not(.fe-error) {
      border: solid 1px map.get($colors, "green");
    }

    .fe-char {
      position: relative;
      display: flex;
      color: map.get($colors, "blue");
      border: solid 1px map.get($colors, "blue");
      border-radius: map.get($sizes, "radius");
      background-color: map.get($colors, "white");
      user-select: none;
      text-transform: uppercase;

      &:not(.fe-char-numeric) {
        padding: calc(map.get($sizes, "gap") / 2) map.get($sizes, "gap");
      }

      input {
        display: inline-flex;
        color: map.get($colors, "blue");
        background-color: transparent;
        margin: 0.5rem 0.4rem 0.6rem;
        padding: 4px;
        border: solid 1px map.get($colors, "grey");
        border-radius: map.get($sizes, "radius");
        outline: 0;
        max-width: 70px;

        &:not(.error):focus {
          border: solid 1px map.get($colors, "black");
        }
        &.error {
          border: solid 1px map.get($colors, "red");
        }
      }

      i {
        position: absolute;
        top: calc(map.get($sizes, "icon-s") / 2 * -1);
        right: -6px;
        width: map.get($sizes, "icon-s");
        height: map.get($sizes, "icon-s");
        transform: rotate(45deg);
        cursor: pointer;

        &::after,
        &::before {
          position: absolute;
          content: "";
          background-color: map.get($colors, "red");
        }

        &::after {
          top: calc(50% - 2px);
          left: 0;
          width: 100%;
          height: 4px;
        }
        &::before {
          top: 0;
          left: calc(50% - 2px);
          width: 4px;
          height: 100%;
        }
      }

      &:not(:last-of-type) {
        margin-right: calc(map.get($sizes, "gap") / 2);
        margin-bottom: calc(map.get($sizes, "gap") / 2);
      }
    }
  }

  .fe-menu {
    display: flex;
    flex-direction: row;
    padding: map.get($sizes, "gap");
    font-size: map.get($typo, "subheader");
    align-items: center;

    .fe-btn {
      padding: calc(map.get($sizes, "gap") / 2) map.get($sizes, "gap");
      color: map.get($colors, "blue");
      will-change: color, background-color, opacity;
      transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
      font-size: map.get($typo, "subheader");

      &:not(.fe-btn_disabled) {
        margin-right: calc(map.get($sizes, "gap") / 2);
        background-color: map.get($colors, "grey");
        color: map.get($colors, "black");
      }

      &:not(.fe-btn_disabled):hover {
        background-color: map.get($colors, "blue");
        color: map.get($colors, "white");
      }

      &.fe-btn_disabled {
        background-color: map.get($colors, "red");
        opacity: 0.4;
        color: map.get($colors, "white");
      }
      &:not(.fe-btn_disabled):last-of-type {
        background-color: map.get($colors, "green");
      }
    }

    .fe-status {
      color: map.get($colors, "red");
      font-weight: map.get($typo, "bold");
    }
    .fe-btn:first-of-type {
      margin-left: auto;
    }
  }
}
</style>
