<script setup>
// Utils
import { svgDataUrl } from "./modules/utils.js";

// Components
import Copyright from "./components/atom/Copyright.vue";
import Header from "./components/molecule/Header.vue";

// HelloDemetory
console.log(
  "%c ",
  `
  background-image: url(${svgDataUrl});
  padding-bottom: 100px;
  padding-left: 100px;
  margin: 20px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
`
);
</script>

<template>
  <Copyright></Copyright>
  <Header title="RuNetSoft"></Header>
  <main>
    <router-view v-slot="{ Component }">
      <transition name="fade" mode="out-in">
        <component :is="Component" />
      </transition>
    </router-view>
  </main>
</template>

<style lang="scss">
// Base Template Styles
html,
body {
  &::before,
  &::after {
    content: "";
    backface-visibility: hidden;
    position: fixed;
    z-index: 21000;
    background-color: colors.$grey;
  }
}

html {
  min-width: 800px;
  font-size: typo.$basefont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:after,
  &:before {
    top: 0;
    height: 100%;
    width: grid.$border;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

body {
  display: flex;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  position: relative;
  padding: grid.$border;
  font-size: 1.6rem;
  line-height: 1;
  color: colors.$black;
  background-color: colors.$white;

  &::after,
  &::before {
    left: 0;
    width: 100%;
    height: grid.$border;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

#app,
main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

::selection {
  background-color: colors.$black;
  color: colors.$white;
  text-shadow: none;
}

// Transition
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
</style>
